# Build results
[Bb]in/
[Oo]bj/
[Oo]ut/
[Dd]ebug/
[Rr]elease/
x64/
x86/

# Compiled output / debug symbols
*.dll
*.exe
*.pdb

# Visual Studio / Rider
.vs/
.idea/
*.user
*.suo
*.userosscache
*.sln.docstates
*.rsuser

# NuGet
*.nupkg
project.lock.json

# OS / misc
Thumbs.db
.DS_Store
